@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Inter', sans-serif;
}

@import "tailwindcss";

@theme {
    --breakpoint-sm: calc(40rem + 1px);
    --breakpoint-md: calc(48rem + 1px);
    --breakpoint-lg: calc(64rem + 1px);
    --breakpoint-xl: calc(80rem + 1px);
    --breakpoint-2xl: calc(96rem + 1px);
}

/* For WebKit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid #f1f1f1; /* Optional: adds a border around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}

/* For Firefox */
html {
  scrollbar-width: thin; /* Options: auto, thin, none */
  scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}